{% extends 'includes/head_card.html' %}

{% block cardheader %}
    <h2>Overall Research Interests</h2>
{% endblock %}

{% block cardbody %}
    <dl class="dl-horizontal lead">
        <dd>
           I'm constantly researching and learning new physics and engineering principals.  At Stanford, I have been
            a part of many research projects, ranging from studying thermal physics to building new transistors.
        </dd>
        <dd>
           This page details some of my highlights.  Go to the <a href="{% url 'main:publications' %}">publications</a> page for more details.
        </dd>
    </dl>
{% endblock %}

