{% extends 'includes/head_card.html' %}

{% block cardheader %}
    <h2>Overall Research Interests</h2>
{% endblock %}

{% block cardbody %}
    <dl class="dl-horizontal lead">
        <dd>
           The goal of my PhD research was improving the computing speed through the innovation of 2D material electronic.
            Two dimensional (2D) materials have intrinsic layered atomic structure with only week vdW force between layers. Such feature makes
            2D materials are promising for transistor scaling, vertical 3D integration and ultra-thin heterojunction and many other applications.
        </dd>
        <dd>
            During my PhD, I completed three projects that nicely covered the different perspective of using 2D material for electronic devices.
        </dd>
    </dl>
{% endblock %}

