{% extends 'includes/head_card.html' %}

{% block cardheader %}
    <h2>Overall Research Interests</h2>
{% endblock %}

{% block cardbody %}
    <dl class="dl-horizontal lead">
        <dd>
           The goal of my PhD research was improving the computing speed through the innovation of Two dimensional (2D) material electronic.
            2D materials have an intrinsic layered atomic structure with only weak vdW force between layers. Such feature makes
            2D materials promising for transistor scaling, vertical 3D integration, ultra-thin heterojunction and many other applications.
        </dd>
        <dd>
            During my PhD, I completed three projects that nicely covered these different perspectives of using 2D material for electronic devices.
        </dd>
    </dl>
{% endblock %}

