{% extends 'main/index.html' %}


{% block content %}
    {% load staticfiles %}
    {% include 'main/research/research_overview_card.html' %}
    <br>
        {% include 'main/research/3D.html' %}
    <br>
            {% include 'main/research/review.html' %}
    <br>
        {% include 'main/research/selector.html' %}
    <br>
    {% include 'main/research/BP.html' %}

    <div style="padding-top: 500px">

    </div>
{% endblock %}

{% block sidebar %}
        {% include 'main/research/research_nav.html' %}
{% endblock %}