{% extends 'includes/page_contents_nav.html' %}

{% block title %}
    Research Projects
{% endblock %}

{% block nav_items %}
    <li class="nav-item">
        <a class="nav-link" href="#mono_card">3D Monolithic</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#review_card">Review Paper</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#selector_card">Memory Selector</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#bp_card">Black Phosphorus</a>
    </li>
{% endblock %}
