{% extends 'includes/basic_card.html' %}

{% block cardheader %}
    <h2 id="review_card" class="target">2D Material Nature Review Paper</h2>
    <a href="https://www.nature.com/articles/s41586-019-1573-9">Akinwande, D. et al. Nature 2019</a>
{% endblock %}

{% block cardbody %}
    <div class="row">
        <div class="col">
            <dl class="dl-horizontal lead">
                <dd>
                    Two-dimensional scaling of silicon transistors is coming to an end. Future computing system improvements will most
                    likely rely on an integration of novel materials and processes. 2D materials have an intrinsic layered structure
                    and a wide range of properties that can be used for various computing applications. This review paper catalogues the
                    meaningful progress we have made over the past few years and the direction to move forward to. I contributed to the
                    section on 2D materials for memory and interconnect technologies.
                </dd>
                <dd>

                </dd>
            </dl>
        </div>
        <div class="col">
            <img src="/static/images/research/review/Review.jpg" class="img-fluid border border-dark">
{#            {% include 'includes/basic_carousel.html' with carousel_name='sidewall' input_path='/static/images/research/sidewall' %}#}
        </div>
    </div>

{% endblock %}