{% extends 'includes/basic_card.html' %}

{% block cardheader %}
    <h2>Current Research Interests</h2>
{% endblock %}

{% block cardbody %}
    <dl class="dl-horizontal lead">
        <dd>
           My current research focus is 2D material device fabrication and theory.  I have published a couple of
            papers on large-area chemical vapor deposition molybdenum disulfide, demonstrating high on-current and vertical
            growth.  My results are particularly exciting as the could enable ultra-scaled memory technology for 3D NAND and DRAM.
        </dd>
        <dd>
           I also have a few open-source projects related to my research and available on my github.
        </dd>
    <dd>
        A complete list of my publications on <a href="https://scholar.google.com/citations?user=8SahWQsAAAAJ&hl=en">Google Scholar</a>.
    </dd>
    </dl>
{% endblock %}