{% extends 'includes/basic_card.html' %}

{% block cardheader %}
    <h2 id="selector_card" class="target">Ultra-thin Memory Selectors</h2>
{% endblock %}

{% block cardbody %}
    <div class="row">
        <div class="col">
            <dl class="dl-horizontal lead">
                <dd>
                    In this era of data-driven applications, memory technology has become increasingly important.
                    In order to achieve a high density memory array, two-terminal selectors are necessary. However, commonly used
                    threshold-type selectors suffer from many issues originated from their ion/atom motion-based mechanism. Non-threshold
                    type selectors are based on reliable tunneling, however, the traps in oxide limit the endurance and current drive. 2D
                    materials are the best candidates to replace oxide. In this work, I developed the first ultra-thin (≤ 3 monolayer) 2D
                    material memory selector. This work is the foundation for using 2D materials for high endurance non-volatile memory system.
                </dd>
            </dl>
        </div>
        <div class="col">
            <img src="/static/images/research/selector/Selector.png" class="img-fluid border border-dark">
{#            {% include 'includes/basic_carousel.html' with carousel_name='selector' input_path='/static/images/research/selector' %}#}
        </div>
    </div>

{% endblock %}