{% extends 'includes/basic_card.html' %}

{% block cardheader %}
    <h2 id="power_card">Ultra-Low Power Transistors</h2>
    <a href="https://ieeexplore.ieee.org/abstract/document/8442237/">McClellan, IEEE DRC 2018</a>
{% endblock %}

{% block cardbody %}
    <div class="row">
        <div class="col">
            <dl class="dl-horizontal lead">
                <dd>
                    Another one of my research projects focused on ultra-low power transistors using "steep switching",
                    a phenomena where transistors can switch off and on by applying very small changes in gate voltage.
                    The industry standard MOSFET switches at minimum 60 mV/decade, but my device switched at 5 mV/decade!
                </dd>
                <dd>
                    The mechanism for the low switching is impact ionization.  Devices such as mine open the possibility
                    of low power logic/memory transistors and highly sensitive sensors.
                </dd>
            </dl>
        </div>
        <div class="col">
            {% include 'includes/basic_carousel.html' with carousel_name='steep' input_path='/static/images/research/steep' %}
        </div>
    </div>

{% endblock %}