{% extends 'includes/basic_card.html' %}

{% block cardheader %}
{% endblock %}

{% block cardbody %}
    <div class="row">
        <div class="col">
            <img src="/static/images/fiona_cover_image.jpeg" class="img-fluid border border-dark">
        </div>
        <div class="col">
            <dl class="dl-horizontal lead">
                <dd>Hello, I'm Fiona (Ching-Hua Wang), an electrical engineer by training. I’m originally from Taiwan and came to the
                    U.S. in 2014 for my PhD program. I did my PhD at Stanford University in the Electrical Engineering department working
                    under <a href="https://nano.stanford.edu/">Philip H.-S. Wong</a>.

                </dd>
                <dd>
                    Before I came to Stanford, I worked at TSMC as a CMOS front-end integration R&D engineer. My expertise
                    is in electronic devices fabrication/characterization, non-volatile memory, CMOS process, and thin-film semiconductors devices
                </dd>
                <dd>
                I also enjoy travelling and reading (mainly non-fiction).
                </dd>
            </dl>
        </div>
    </div>
{% endblock %}