{% extends 'includes/basic_card.html' %}

{% block cardheader %}
{% endblock %}

{% block cardbody %}
    <div class="row">
        <div class="col">
            <img src="/static/images/fiona_cover_image.jpeg" class="img-fluid border border-dark">
        </div>
        <div class="col">
            <dl class="dl-horizontal lead">
                <dd>Hello, I'm Fiona (Ching-Hua Wang), an electrical engineer by training. I’m originally from Taiwan and came to the
                    U.S. in 2014 for my PhD program. I did my PhD at Stanford University in the Electrical Engineering department working
                    under <a href="https://nano.stanford.edu/">Philip H.-S. Wong</a>. My expertise is in electronic device
                    electrical characterization, non-volatile memory, CMOS process, and thin-film semiconductors devices.
                </dd>
{#                <dd>#}
{#                    Before I came to Stanford, I worked at TSMC as a CMOS front-end of line integration R&D engineer. In this role,#}
{#                    I was responsible for solving issues to improve product yield by collaborating with > 10 teams#}
{#                    (Main teams are: 5 process modules, OPC, SRAM, device, defect, product, PFA, manufacturing...etc).#}
{#                </dd>#}
                <dd>
                From my experience at TSMC and Stanford, I have developed both technical and soft skills. I have a lot of experience
                    managing and organizing meetings, working with and leading collaboration efforts within engineering groups, and
                    communicating my work with engineers varying technical backgrounds.
                </dd>
                <dd>
                    I also like giving presentations about engineering and my research.  I won a best presentation award
                    at SRC Techcon in 2018 and was invited to give talks at TSMC, SFBA, and PARC. I enjoy that my audience can learn something new from my presentations.
                </dd>
            </dl>
        </div>
    </div>
{% endblock %}