{% extends 'includes/basic_card.html' %}

{% block cardheader %}
{% endblock %}

{% block cardbody %}
    <div class="row">
        <div class="col">
            <img src="/static/images/fiona_cover_image.jpeg" class="img-fluid border border-dark">
        </div>
        <div class="col">
            <dl class="dl-horizontal lead">
                <dd>Hello, I'm Fiona (Ching-Hua Wang), an electrical engineer originally from Taiwan.  I'm currently a PhD student at Stanford University
                    in the Electrical Engineering department working under <a href="http://poplab.stanford.edu/">Philip H.-S. Wong</a>.
                </dd>
                <dd>
                    My experience is in electronic devices, solid-state materials, electronic design automation,
                    and artificial intelligence.  I also created and maintain the <a href="http://2d.stanford.edu">"2D Trends"</a> web app.
                </dd>
                <dd>
                    I also have a few hobbies in espresso crafting, telescope building, website making, and skiing.
                </dd>
            </dl>
        </div>
    </div>
{% endblock %}