{% extends 'includes/basic_card.html' %}

{% block cardheader %}
    <h2>High Current MoS<sub>2</sub> Transistors</h2>
    <a href="https://ieeexplore.ieee.org/abstract/document/7999392/">McClellan, IEEE DRC 2017</a>
{% endblock %}

{% block cardbody %}
    <div class="row">
        <div class="col">
            <dl class="dl-horizontal lead">
                <dd>
                    2D materials have potential to continue Moore's Law owning to their atomically thin nature.
                    My research has demonstrated for the first time that the 2D material MoS<sub>2</sub> can actually
                    meet industry requirements.
                </dd>
                <dd>

                </dd>
            </dl>
        </div>
        <div class="col">
            {% include 'includes/basic_carousel.html' with carousel_name='doping' input_path='/static/images/research/doping' %}
        </div>
    </div>

{% endblock %}