{% extends 'includes/basic_card.html' %}

{% block cardheader %}
    <h2>Past Research</h2>
{% endblock %}

{% block cardbody %}
    <dl class="dl-horizontal lead">
        <dd>
           I previously had an internship at the electronic design automation company Cadence, working on
            machine and deep learning for automated circuit design.
        </dd>
        <dd>
           I also worked as an undergraduate research assistant at UT Austin, publishing research on ReS2 transistors.
        </dd>
    </dl>
{% endblock %}