{% extends 'includes/basic_card.html' %}

{% block cardheader %}
    <h2>Publications Overview</h2>
    <!--<a href="https://ieeexplore.ieee.org/abstract/document/7999392/">McClellan, IEEE DRC 2017</a>-->
{% endblock %}

{% block cardbody %}
    <div class="row">
        <div class="col">
            <dl class="dl-horizontal lead">
                <dd>
                    During my time as a researcher at UT Austin and Stanford, I have been a part of several journal papers and
                    given formal conference presentations.
                    The blocks below list my publications and detailed statistics can be found on my
                    <a href="https://scholar.google.com/citations?user=8SahWQsAAAAJ&hl=en">Google Scholar</a> page.

                </dd>
                <dd>
                </dd>
            </dl>
        </div>
    </div>

{% endblock %}