{% extends 'includes/basic_card.html' %}

{% block cardheader %}
    <h2 id="tsmc_card" class="target">Integration Engineer of SoC FEOL at TSMC </h2>
{% endblock %}

{% block cardbody %}
    <div class="row">
        <div class="col">
            <dl class="dl-horizontal lead">
                <dd>
                As integration engineers, we are responsible for delivering the 20nm technology node.
                    To deliver technology successfully, we have to achieve >80% yield, pass qualification,
                    and meet device performance, etc. Therefore, we had to identify all the issues and gather
                    information from inline data, eFA, WAT, defect counts, many other tests, to figure out all
                    the issue root causes. We highlighted issues to module teams to ask for resources to solve them.
                    As integration is the center of the technology platform, we collaborated with 10+ cross-
                    functional teams and our judgement was crucial to the success of the technology.
                </dd>
            </dl>
        </div>
        <div class="col">
            <img src="/static/images/industry/Intel_update.png" class="img-fluid border border-dark">
        </div>
    </div>

{% endblock %}